body {
    background-color: lightgray;
    margin: 25%;
    filter: drop-shadow(2px 2px 2px rgba(128, 128, 128));
}

div {
    background-color: white;
    text-align: center;
    padding: 10px;
    outline-width: 2px;
    outline-color: gray;
}

h2 {
    text-align: center;
}

button {
    background-color: lightcoral;
    color: white;
    border-style: none;
    text-align: center;
    margin: 3px;
    width: 90%;
    height: 35px;
}

#next-button {
    display: block;
    color: black;
    margin: 20px auto;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}